# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Env
venv/
ENV/

# Streamlit
.streamlit/

# Models & Data
betting_predictor/models/*.pkl
betting_predictor/models/*.joblib

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.*

